@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.login-page {
  height: 100vh;
  background: url('../assets/image/background.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 35px 10px 40px;
  border: none;
  border-radius: 20px;
  outline: white;
  background: rgba(148, 120, 120, 0.15);
  color: white;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.options a {
  color: white;
  text-decoration: none;
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #ddd;
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
}

.register-text a {
  color: white;
  text-decoration: underline;
}
.error {
  color: #ff4d4f;
  font-size: 13px;
  margin: -8px 0 10px 5px;
  text-align: left;
}
